  /* General Styles */
  :root {
    --primary-bg-color: #F4F4F4;
    --secondary-bg-color: #FFFFFF;
    --primary-text-color: #333333;
    --secondary-text-color: #555555;
    --primary-button-color: #4CAF50;
    --secondary-button-color: #45a049;
    --border-color: #ccc;
    --box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    --border-radius: 12px;
  }
  
  body {
    font-family: 'Arial', sans-serif;
    background-color: var(--primary-bg-color);
    margin: 0;
    padding: 0;
    color: var(--primary-text-color);
  }
  
  .container {
    max-width: 80%;
    max-height: 80%;
    margin: 40px auto;
    padding: 24px;
    background-color: var(--secondary-bg-color);
    box-shadow: var(--box-shadow);
    border-radius: var(--border-radius);
  }
  
  /* Keypad Styles */
  #keypad {
    display: grid;
    grid-template-columns: repeat(3, 1fr);  /* Adjusted to 3 columns for a telephone layout */
    gap: 16px;
    margin-top: 24px;
  }
  
  .key {
    font-size: 24px;
    padding: 20px;
    background-color: var(--primary-text-color);
    border: 1px solid var(--border-color);
    border-radius: var(--border-radius);
    cursor: pointer;
    transition: background-color 0.3s;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .key:focus {
    outline: none;
    box-shadow: 0 0 0 3px rgba(21, 156, 228, 0.4);
  }
  
  .key:hover {
    background-color: #f1f1f1;
  }
  
  .key.submit {
    background: linear-gradient(to bottom, #4CAF50, #45a049);
    color: white;
  }
  
  .key.large {
    grid-column: span 2;
    font-size: 36px;
    padding: 30px;
  }
  
  .key.large.submit {
    font-size: 36px;
    padding: 30px;
    grid-column: span 2; /* Set to span 2 grid columns */
  }
  
  /* Entry and Search Section Styles */
  #entry-section {
    display: flex;
    justify-content: center;
    margin-bottom: 24px;
  }
  
  input[type="text"], input[type="number"] {
    flex: 1;
    width: 400px;
    padding: 12px;
    margin: 8px 0;
    box-sizing: border-box;
    border: 1px solid var(--border-color);
    border-radius: var(--border-radius);
    transition: border-color 0.3s;
  }
  
  input[type="text"]:focus {
    border-color: #159ce4;
    outline: none;
  }
  
  #member-number-section input[type="text"], input[type="number"] {
    display: block; /* Makes the input take the entire line */
    margin: auto; /* Centers the input */
    max-width: 400px; /* Maximum width of the input */
    font-size: 24px;
  }
  
  #memberSearchResults {
    width: 100%;
    max-width: 100%; /* Match the input's max width to align them */
    display: flex; /* Use flexbox to center content */
    flex-direction: row; /* Stack children vertically */
    align-items: center; /* Align items in the center */
    justify-content: center;
    margin-top: 20px;
  }
  
  /* Style for the dropdown select element */
  select {
    width: 33%;
    padding: 16px;
    border: 2px solid #ccc; /* Add border */
    border-radius: 4px;
    background-color: #f1f1f1;
    appearance: none; /* Remove default appearance */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    overflow-y: auto; /* Add vertical scrollbar */
    max-height: 200px; /* Set maximum height */
    align-items: center;
    justify-content: center;
    vertical-align: auto;
    align-content: center;
  }
  
  /* Add an arrow indicator for the dropdown */
  select::-ms-expand {
    display: none; /* for IE and Edge */
  }
  
  select::after {
    content: "\25BC";  /* Add a down arrow */
    position: absolute;
    top: 18px;
    right: 15px;
    pointer-events: none;
  }
  
  /* Style for options in the dropdown */
  option {
    padding: 12px;
  }
  
  #tag-icon {
      width: 50px;
      height: 50px;
  }
  
  /* Style for the tag icons container */
  .tag-icons-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;  /* Centers the icons */
    gap: 16px;
    margin-top: 24px;
  }
  
  /* Style for the tag icons */
  .tag-icon {
    cursor: pointer;
    width: 60px;
    height: 60px;
    border: 2px solid transparent;
    transition: border-color 0.3s, background-color 0.3s;  /* Smooth transition */
  }
  
  .tag-icon {
    /* existing styles */
    opacity: 0.9;  /* Semi-transparent by default */
  }
  
  .tag-icon img {
    width: 100%;
    height: 100%;
  }
  
  /* Style when tag icons are selected */
  .tag-icon.selected {
    border-color: #4CAF50;
    background-color: #4CAF50;  /* Solid green background */
    color: white;  /* Text color changed to white */
  }

  .submit-button {
    display: flex;
    justify-content: center;
    margin-top: 20px; /* Add some space at the top */
    gap: 30px;
    padding: 16px 32px; /* Increase padding for larger button size */
    font-size: 24px; /* Increase font size for better readability */
    border: none; /* Assuming you don't want borders, but add if needed */
    color: white; /* Text color for the button */
    border-radius: var(--border-radius); /* Use the border-radius variable for consistency */
    transition: background-color 0.3s ease; /* Smooth transition for hover effect */
  }
  
  .submit-button:hover {
    background-color: #555555; /* Darken button color on hover for feedback */
  }

  .submit-button-container {
    display: flex; /* Or grid, depending on your layout */
    justify-content: space-evenly; /* Adjusts the spacing around items */
    align-items: center; /* Centers items vertically */
  }
  
  /* If the buttons are direct children of a flex container, these properties might help: */
  .submit-button {
    flex: 1; /* Each button will take up equal space */
    /* Rest of your styles */
  }
  
.checkoutbutton {
  width: 100%;
}

/* Styling for the button group */
.button-group {
  margin-bottom: 15px;
}

.container2{
    display: flex;
    flex-direction: column;
    align-items: center; /* Centers children horizontally in the column */
    justify-content: center; /* Centers children vertically */
    padding: 20px;
    width: 100%; /* Full width of the container */
    max-width: 80%;
    max-height: 80%;
    margin: 40px auto;
    padding: 24px;
    background-color: var(--secondary-bg-color);
    box-shadow: var(--box-shadow);
    border-radius: var(--border-radius);
}
/* Styling for Tag Group Selection Buttons */
.tag-group-button {
  padding: 10px 20px; /* Padding for button size */
  margin: 5px;        /* Margin for spacing between buttons */
  background-color: #009688; /* Background color */
  color: white;       /* Text color */
  border: none;       /* No border */
  border-radius: 5px; /* Rounded corners */
  cursor: pointer;    /* Cursor to pointer to indicate it's clickable */
  font-size: 16px;    /* Font size */
  transition: background-color 0.3s; /* Transition for hover effect */
  flex-grow: 1;       /* Buttons grow to fill the available space */
}

.tag-group-button:hover {
  background-color: #00796b; /* Darker shade on hover */
}

/* Styling for Dropdown Box */
#dropdownList {
  width: 100%;        /* Full width */
  max-width: 66%;   /* Maximum width of dropdown */
  padding: 8px 15px;  /* Padding for some space inside the dropdown */
  margin: 10px 0;     /* Margin for spacing around the dropdown */
  border: 1px solid #ccc; /* A light border */
  border-radius: 4px; /* Slightly rounded corners */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* A subtle shadow */
  font-size: 16px;    /* Adequate font size */
  color: #333;        /* Text color */
  background-color: #fff; /* Background color */
}

#dropdownList:focus {
  border-color: #009688; /* Change border color when focused */
  outline: none; /* Removing default focus outline */
}

/* Responsive adjustments for smaller screens */
@media (max-width: 600px) {
  .tag-group-button {
      flex-grow: 0;  /* Prevent buttons from growing too much on small screens */
      width: 100%;   /* Full width buttons on smaller screens */
  }
}

.keypad-container {
  max-width: 400px;
  margin: auto;
}
/* Touch-friendly button styles */
.key {
  margin: 5px;
  padding: 20px 0; /* Increase padding for a larger touch area */
  font-size: 2rem; /* Larger font size for readability */
  width: 100%;
  background-color: rgb(61, 61, 165);
  border-radius: 10px; /* Optional: for rounded corners */
}

/* Making the check-in and check-out buttons larger and more touch-friendly */
.check {
  width: 100%; /* Full width for easier touch */
  padding: 20px; /* Ample padding for a larger touch area */
  font-size: 1.5rem; /* Larger font size for readability */
  margin-top: 10px; /* Spacing between buttons */
  border-radius: 10px; /* Optional: for rounded corners */
}

/* Ensuring that the submit buttons are centered and spaced evenly */
.submit-button {
  display: flex;
  justify-content: space-around; /* This will space out the buttons evenly */
  margin-top: 20px; /* Spacing from the last row of keys */
}

@media (min-width: 768px) { /* For larger screens, you might want to set a max-width */
  .check {
      max-width: 200px; /* Set a max-width for larger screens */
  }
}