<body><div class="container">
  <div class="row justify-content-center">
      <!-- Icon block for Admin -->
      <div class="col-6 col-sm-4 col-md-3 col-lg-2 my-3 text-center" onclick="toggleIconSelection(this)" >
          <div class="tag-icon" data-tagid="398">
              <img src="/static/images/admin.png" class="img-fluid" alt="Admin">
              <div class="tag-text">Admin</div>
          </div>
      </div>
      <!-- Icon block for Maintenance -->
      <div class="col-6 col-sm-4 col-md-3 col-lg-2 my-3 text-center" onclick="toggleIconSelection(this)" >
          <div class="tag-icon">
              <img src="/static/images/maintenance.png" class="img-fluid" alt="Maintenance">
              <div class="tag-text">Maintenance</div>
          </div>
      </div>
      <!-- Icon block for Commed -->
      <div class="col-6 col-sm-4 col-md-3 col-lg-2 my-3 text-center" data-tagid="384" onclick="toggleIconSelection(this)">
          <div class="tag-icon" data-tagid="413" >
              <img src="/static/images/commed.png" class="img-fluid" alt="Commed">
              <div class="tag-text">Commed</div>
          </div>
      </div>
      <!-- Icon block for Chainsaw --> 
      <div class="col-6 col-sm-4 col-md-3 col-lg-2 my-3 text-center" onclick="toggleIconSelection(this)">
          <div class="tag-icon" data-tagid="316">
              <img src="/static/images/chainsaw.jpg" class="img-fluid" alt="Chainsaw">
              <div class="tag-text">Chainsaw</div>
          </div>
      </div>
      <!-- Icon block for Beacon -->
      <div class="col-6 col-sm-4 col-md-3 col-lg-2 my-3 text-center" onclick="toggleIconSelection(this)">
          <div class="tag-icon" data-tagid="314">
              <img src="/static/images/beacon.jpg" class="img-fluid" alt="Beacon">
              <div class="tag-text">Beacon</div>
          </div>
      </div>
      <!-- Icon block for First Aid -->
      <div class="col-6 col-sm-4 col-md-3 col-lg-2 my-3 text-center" onclick="toggleIconSelection(this)" >
          <div class="tag-icon" data-tagid="325" >
              <img src="/static/images/firstaid.png" class="img-fluid" alt="First Aid">
              <div class="tag-text">First Aid</div>
          </div>
      </div>
      <!-- Icon block for Fundamentals -->
      <div class="col-6 col-sm-4 col-md-3 col-lg-2 my-3 text-center" onclick="toggleIconSelection(this)">
          <div class="tag-icon" data-tagid="328">
              <img src="/static/images/fundamentals.png" class="img-fluid" alt="Fundamentals">
              <div class="tag-text">Fundamentals</div>
          </div>
      </div>
      <!-- Icon block for PIARO -->
      <div class="col-6 col-sm-4 col-md-3 col-lg-2 my-3 text-center" onclick="toggleIconSelection(this)">
          <div class="tag-icon" data-tagid="339" >
              <img src="/static/images/PIARO.png" class="img-fluid" alt="PIARO">
              <div class="tag-text">PIARO</div>
          </div>
      </div>
      <!-- Icon block for Skills -->
      <div class="col-6 col-sm-4 col-md-3 col-lg-2 my-3 text-center" onclick="toggleIconSelection(this)">
          <div class="tag-icon" data-tagid="382">
              <img src="/static/images/skills.png" class="img-fluid" alt="Skills">
              <div class="tag-text">Skills</div>
          </div>
      </div>
      <!-- Icon block for Storm -->
      <div class="col-6 col-sm-4 col-md-3 col-lg-2 my-3 text-center" onclick="toggleIconSelection(this)">
          <div class="tag-icon" data-tagid="373">
              <img src="/static/images/storm.png" class="img-fluid" alt="Storm">
              <div class="tag-text">Storm</div>
          </div>
      </div>
      <!-- Icon block for Muster -->
      <div class="col-6 col-sm-4 col-md-3 col-lg-2 my-3 text-center" onclick="toggleIconSelection(this)">
          <div class="tag-icon" data-tagid="416">
              <img src="/static/images/muster.png" class="img-fluid" alt="Muster">
              <div class="tag-text">Muster</div>
          </div>
      </div>
      <!-- Add additional icons as needed -->
  </div>
</div>
<script>
  function toggleIconSelection(element) {
    // If you have multiple elements within the icon container and want to toggle the class on a specific child,
    // you might need to select the child element specifically.
    // For example, if you want to toggle the class on the inner div with the 'tag-icon' class, you could do:
    // element.querySelector('.tag-icon').classList.toggle('selected-icon');

    // If the clickable area includes the entire column and the 'tag-icon' class is on a child div, use the line above.
    // If the clickable area is only the 'tag-icon' div, use the line below.
    element.classList.toggle('selected-icon');
  }
</script>
</body>
